@using TicketSystem.Managers
@inject TicketManager ticketManager
@inject NavigationManager nav


<EditForm Model="ticketModel" OnValidSubmit="EditTicket">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="title">Title</label>
        <InputText id="title" class="form-control" @bind-Value="ticketModel.Title" placeholder="Ticket"></InputText>
    </div>
    <div div class="mb-3">
        <label for="description">Description</label>
        <InputTextArea id="description" class="form-control" style="height: 16rem; resize: none" @bind-Value="ticketModel.Description" placeholder="Description"></InputTextArea>
    </div>
    <button class="btn btn-outline-primary" type="submit">Edit ticket</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    DisplayUserTicketModel ticketModel = new DisplayUserTicketModel();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var ticket = ticketManager.GetTicketById(Id);
        ticketModel.Title = ticket.Title;
        ticketModel.Description = ticket.Description;
    }

    private async Task EditTicket()
    {
        await ticketManager.EditTicketUser(ticketModel, Id);
        nav.NavigateTo("/");
    }
}
