@if (!hide)
{
    <div class="modal fade show" id="modal" style="display: block">
        <div class=" = modal-dialog">
            <div class=" = modal-content">
                <div class="modal-header">
                    <h3>@Title</h3>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" @onclick="Show">Close</button>
                    <button type="button" class="btn btn-outline-danger" @onclick="DeleteTicketAsync">@SubmitButtonTitle</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private bool hide = true;

    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string SubmitButtonTitle { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public EventCallback Callback { get; set; }

    public void Show()
    {
        hide = !hide;
    }

    async Task DeleteTicketAsync()
    {
        await Callback.InvokeAsync();
        Show();
    }
}
