@using SQLDataAccess.Models
@using TicketSystem.Managers
@inject NavigationManager nav
@inject TicketManager ticketManager
@inject UserManager userManager

<button class="btn btn-primary" @onclick="NavigateToCreateTicket">Create Ticket</button>

<table class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td>Id</td>
            <td>Date</td>
            <td>Title</td>
            <td>Status</td>
        </tr>
    </thead>
    <tbody>
        @foreach(TicketModel ticket in userTickets)
        {
            <tr>
                <td>
                    <button class="btn btn-outline-info" @onclick="() => EditTicket(ticket.Id)">Edit</button>
                    <button class="btn btn-outline-danger" @onclick="() => DeleteTicket(ticket.Id)">Delete</button>
                </td>
                <td>@ticket.Id</td>
                <td>@ticket.DateTime</td>
                <td>@ticket.Title</td>
                <td>@Enum.GetName(typeof(TicketStatus), ticket.Status)</td>
            </tr>
        }
    </tbody>
</table>


@code {

    private List<TicketModel> userTickets = new List<TicketModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var tickets = await ticketManager.LoadTickets();
        userTickets = tickets.Where(x => x.RequestorId == userManager.CurrentUser.Id).ToList();
    }

    private void NavigateToCreateTicket()
    {
        nav.NavigateTo("/create-ticket");
    }

    private void EditTicket(int id)
    {
        nav.NavigateTo($"/edit-ticket/{id}");
    }

    private void DeleteTicket(int id)
    {
        //Open modal dialog
        //Delete ticket
    }
}
